html, body, #map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
div#footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 18px;
    margin: 0;
    padding: 6px;
    z-index: 2;
    background: WHITE;
}
.mark{
    width:22px;
    height:22px;
    border:1px solid blue;
    background-color:rgba(100,200,255,0.5);
    border-radius:8px;
    text-align: center;
    vertical-align: middle;
    color:black;
    font-family: Arial;
    font-size:11px;
    font-weight: bold;
    overflow: hidden;
}
.mark div:nth-child(2){
    font-size: 9px;
}
#aviso_gps{
    color: gray;
}
.ubicate-control-Y {
    top: 65px;
    left: .5em;
}
.ol-touch .ubicate-control-Y {
    top: 80px;
}
.ubicate-control-Z {
    top: 95px;
    left: .5em;
}
.ol-touch .ubicate-control-Z {
    top: 130px;
}
.ubicate-control-C {
    top: 125px;
    left: .5em;
}
.ol-touch .ubicate-control-C {
    top: 180px;
}
  