.bar-layout
  width 10%
  float right

#map-layout
  width 90%
  float clear

.ubicate-control-P
    top 155px
    left .5em

.ol-touch .ubicate-control-P 
    top 230px

.ubicate-control-sec
    top 215px
    left .5em

.ol-touch .ubicate-control-sec
    top 280px

.ubicate-control-sec button
    width 50px !important

button[save-button=true]
  background-color #007bff
  color #ffffff

button[delete=true]
  background-color #cb3837
  color #ffffff

#no-token, #instalar, #GPS
  margin 10px 0