.bar-layout
  width 10%
  float right

#map-layout
  width 90%
  float clear

.ubicate-control-P
    top 245px
    left .5em

.ol-touch .ubicate-control-P 
    top 320px

.ubicate-control-sec
    top 295px
    left .5em

.ol-touch .ubicate-control-sec
    top 380px

.ubicate-control-sec button
    width 70px !important

button[save-button=true]
  background-color #007bff
  color #ffffff

button[delete=true]
  background-color #cb3837
  color #ffffff

#no-token, #instalar, #GPS, #center-map-button
  margin 10px 0

#cant-cuestionarios, #cant-personas,#cancel-button,#save-button,#cant-cuestionarios-label,#cant-personas-label
  font-size 1.5em
  margin 15px

.status-error
  position fixed
  top 0
  right 0
  z-index 1
  color red
  font-weight 600